*.csv
*.wav
*.mp3
*.mp4
*.raw
*.pyc
*.jpg
*.txt
*.flac
*.pth
*.api
*.m4a
*.xlsx
*__pycache__*
*venv*
old/*
checkpoints/*
data/pretrained_models/*
Tools/Evaluation/T4/embeddings/*.npy
Tools/parameters.yaml

# include the following files
!data/stored/assistant/**
!data/stored/people/**
!**/requirements.txt
!data/pretrained_models/person_recognition*